<%= render 'shared/navbar' %>

<div class="container bg-light">
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <h3>Details</h3>
  <div class="flex">
    <div class="flex">
      3 people
    </div>
    <div class="flex ms-3">
      75€
    </div>
  </div>

</div>
